<div id="Header">
  <div class="icon">
    <img src="/assets/LogoAlt.png" alt="Logo"/>
  </div>
  <div class="menu">
    <a class="btn" href="#SmartGreen"><div class="animate"></div>Smart Green</a>
    <a class="btn" href="#Products"><div class="animate"></div>Nos produits</a>
    <a class="btn" href="#Promises"><div class="animate"></div>Nos promesses</a>
    <a class="btn" href="#WhoWeAre"><div class="animate"></div>Newsletter</a>
    <a class="btn" href="#Newsletter"><div class="animate"></div>Qui sommes-nous?</a>
    <a class="btn" href="#About"><div class="animate"></div>A propos</a>
  </div>
</div>