<div id="Header">
  <div class="icon">
    <img src="/assets/SmartGreen.png" alt="Logo"/>
  </div>
  <div class="menu">
    <div class="btn"><div class="animate"></div>Smart Green</div>
    <div class="btn"><div class="animate"></div>Nos produits</div>
    <div class="btn"><div class="animate"></div>Nos promesses</div>
    <div class="btn"><div class="animate"></div>Newsletter</div>
    <div class="btn"><div class="animate"></div>Qui sommes-nous?</div>
    <div class="btn"><div class="animate"></div>A propos</div>
  </div>
</div>