@mixin positionTRBL($position: relative, $top: unset, $right: unset, $bottom: unset, $left: unset){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin sizeWH($width, $height: $width){
    width: $width;
    height: $height;
}

.hide{display: none !important;}

.section{
    @include sizeWH(100%, auto);
    display: flex;
    flex-direction: column;
    .text{
        @include sizeWH(50%, auto);
        margin: 15px auto;
        font-family: 'Work Sans', sans-serif;
        .title{
            color: rgb(50, 159, 11);
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 8px 0 12px 10px;
            text-transform: uppercase;
        }
        .sub-title{
            font-size: 9px;
            font-weight: lighter;
            letter-spacing: 3px;
            border-bottom: .5px solid black;
            margin: 5px 0 8px 3px;
            display: inline-block;
            text-transform: uppercase;
        }
        .p{
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.5px;
            color: rgb(95, 95, 95);
            .line{
                line-height: 28px;
                margin: 10px 0;
            }
        }
    }
    .text.expended{
        @include sizeWH(80%, auto);
        .p.flex{
            @include sizeWH(auto);
            display: flex;
            flex-direction: row;
            margin: auto -10%;
            .col{
                @include positionTRBL(relative, unset, unset, unset, 10px);
                flex-grow: 1;
                flex-wrap: wrap;
                margin: auto 5%;
                .name{
                    @include positionTRBL(absolute, 0, unset, 0, -10px);
                    // @include sizeWH(auto, 20px);
                    transform: rotateZ(-90deg);
                    font-size: 18px;
                    font-weight: bolder;
                    // border-bottom: 3px solid rgb(95, 95, 95);
                }
            }
        }
    }
}