
<div class="section">
    <div class="block">
        <div class="text">
            <div class="sub-title">Nos maîtrises</div>
            <div class="title">Du terrain</div>
            <div class="p">
                <div class="line">Les données météorologiques croisées avec les caractéristiques de votre terrain permettront de maitriser votre consommation d’eau, d’éviter le gaspillage et ainsi économiser de l’argent.</div>
                <div class="line">Merci de vous être connecté et bienvenue dans le monde de Smart Green!</div>
            </div>
        </div>
    </div>
</div>