

<div class="section">
  <div class="block right">
      <div class="title">Contactez nous</div>
      <div class="form">
          <div class="input">
              <input type="text" placeholder="NOM Prénom"/>
          </div>
          <div class="input">
              <input type="text" placeholder="E-mail"/>
          </div>
          <div class="input">
              <textarea cols="30" rows="10"></textarea>
          </div>
      </div>
  </div>
  <div class="block left">
      <div class="title">Newsletter</div>
      <div class="form">
          <div class="input">
              <input type="text" placeholder="E-mail"/>
          </div>
      </div>
  </div>
</div>