

<div class="section">
    <div class="frame frame-3-4 bg bg1">
        <div class="block">
            <div class="title">Newsletter</div>
            <div class="form">
                <div class="input">
                    <input type="email" placeholder="E-mail"/>
                </div>
            </div>
        </div>
        <div class="block hide">
            <div class="title">Contactez nous</div>
            <div class="form">
                <div class="input">
                    <input type="text" placeholder="NOM Prénom"/>
                </div>
                <div class="input">
                    <input type="text" placeholder="E-mail"/>
                </div>
                <div class="input">
                    <textarea cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="frame frame-1-4">
        <div class="text">
            <div class="p">
                <div class="line">Pour que vos plantes s'occupent d'elle même...</div>
                <div class="line">Restez toujours connecté avec Smart Green!</div>
                <div class="line">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXwlraiLyT74VFfF6ovCFwWBUsS933zJjoVAS9z7F6EW0GfA/viewform" class="btn">Exprimer votre avis</a>
                </div>
            </div>
        </div>
    </div>
</div>
