@mixin positionTRBL($position, $top: unset, $right: unset, $bottom: unset, $left: unset){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin sizeWH($width, $height: $width){
    width: $width;
    height: $height;
}

.hide{display: none !important;}

.section{
    @include sizeWH(100%, 300px);
    min-height: 300px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    .frame{
        display: flex;
        flex-grow: 8;
        .text{
            @include sizeWH(auto, 100%);
            display: inline-flex;
            margin: auto;
            font-family: 'Work Sans', sans-serif;
            .p{
                line-height: 20px;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 1.5px;
                color: rgb(95, 95, 95);
                margin: auto;
                max-width: 80%;
                .line{
                    margin: 15px 0;
                    a.btn{
                        @include sizeWH(80%, auto);
                        display: inline-block;
                        padding: 12px 25px;
                        margin: 5px;
                        color: white;
                        background-color: rgb(50, 159, 11);
                        border-radius: 4px;
                        cursor: pointer;
                        user-select: none;
                        text-decoration: none;
                        transition: all .175s ease-out;
                    }
                    a.btn:hover{
                        transform: scale(1.01);
                        box-shadow: 0px 3px 15px rgba(75, 75, 75, .5);
                    }
                }
            }
        }
    }
    .frame.frame-3-4{flex-grow: 6;}
    .frame.frame-1-4{flex-grow: 2;}
    .frame.bg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .frame.frame-3-4.bg.bg1{background-image: url('/assets/Ending1.jpg');}
    .frame.frame-3-4.bg.bg2{background-image: url('/assets/Ending2.jpg');}
    .block{
        @include positionTRBL(relative);
        @include sizeWH(40%, auto);
        min-width: 250px;
        max-width: 350px;
        min-height: 150px;
        display: flex;
        margin: auto;
        flex-direction: column;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(3px);
        padding: 25px;
        border-bottom: 12px solid white;
        transition: all .5s linear;
        .title{
            text-align: center;
            color: white;
            font-size: 36px;
            margin: auto;
            cursor: default;
            user-select: none;
            transition: all .5s linear;
        }
        .form{
            margin: auto 5px;
            .input{
                display: flex;
                input{
                    @include sizeWH(80%, auto);
                    border: none;
                    border-bottom: 1px solid white;
                    color: white;
                    background-color: rgba(255, 255, 255, .5);
                    text-align: center;
                    padding: 5px 0;
                    margin: 5px auto;
                }
                input:not(:placeholder-shown){
                    color: rgb(50, 159, 11) !important;
                    background-color: rgba(255, 255, 255, .85);
                }
                input::placeholder{color: rgb(50, 159, 11);}
            }
        }
    }
    /*.block:hover{
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0px 3px 8px rgba(75, 75, 75, .5);
        *{color: rgb(50, 159, 11) !important;}
    }*/
}