

<div class="section">
    <div class="frame product1">
        <div class="layer">
            <div class="name">Smart Water</div>
        </div>
        <div class="title">Intelligent</div>
        <div class="text">
            <div class="p">
                <div class="line">Pour programmer, piloter et ajuster avec précision le besoin en eau de vos plantes.</div>
                <div class="line">Le programmateur d'arrosage Smart Water Control est connecté à votre Smart App SMARTGREEN et permet d'arroser en quelques clics votre jardin à tout moment, où que vous soyez.</div>
            </div>
        </div>
    </div>
    <div class="frame product2">
        <div class="layer">
            <div class="name">Smart Sensor</div>
        </div>
        <div class="title">Connecté</div>
        <div class="text">
            <div class="p">
                <div class="line">Il agit comme un oeil et un capteur météo afin de collecter des données stratégiques dans l’espace cultivé et qui sont transmises en temps réel via l’application et ce afin de prendre les bonnes décisions quant à l’arrosage ou la tonte et ainsi s’adapter aux besoins réels de vos plantes.</div>
                <div class="line">Facile à installer grâce à la technologie sans fil.</div>
            </div>
        </div>
    </div>
</div>