

<div class="section">
    <div class="frame product1">
        <div class="layer"></div>
        <div class="title">Intelligent</div>
        <div class="text">
            <div class="p">
                <div class="line">Le système est capable de vous indiquer si les quantités d’arrosage sont en phase avec la météo.</div>
                <div class="line">Il peut simplement vous informer ou ajuster automatiquement les doses sans votre intervention.</div>
            </div>
        </div>
    </div>
    <div class="frame product2">
        <div class="layer"></div>
        <div class="text">
            <div class="title">Connecté</div>
            <div class="p">
                <div class="line">Comme de plus en plus d’appareils, il peut être géré via un smartphone, une tablette ou un ordinateur.</div>
                <div class="line">Vous en voyez déjà les avantages: contrôler l’irrigation même lorsque vous n’êtes pas chez vous.</div>
            </div>
        </div>
    </div>
</div>