@mixin positionTRBL($position: relative, $top: unset, $right: unset, $bottom: unset, $left: unset){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin sizeWH($width, $height: $width){
    width: $width;
    height: $height;
}

.hide{display: none !important;}

.section{
    @include positionTRBL();
    @include sizeWH(100%, auto);
    display: flex;
    flex-direction: row;
    .frame{
        @include positionTRBL();
        min-height: 300px;
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        box-sizing: border-box;
        padding: 15px;
        user-select: none;
        transition: all .35s ease-out;
        .layer{
            @include positionTRBL(absolute, 0, 0, 0, 0);
            @include sizeWH(100%);
            background-color: rgba(75, 75, 75, .45);
            transition: inherit;
            cursor: pointer;
            .name{
                @include positionTRBL(absolute, unset, unset, 5%, 5%);
                @include sizeWH(30%, auto);
                display: inline-block;
                font-size: 26px;
                font-family: 'montserrat';
                font-weight: lighter;
                padding: 12px 60px 12px 8px;
                border-bottom: .5px solid black;
                transition: all .35s ease-out;
            }
        }
        .title{
            @include positionTRBL(absolute, 30%, unset, unset, 15%);
            font-size: 48px;
            font-family: 'montserrat';
            font-weight: lighter;
            padding-bottom: 4px;
            transition: all .35s ease-out;
            cursor: pointer;
        }
        .title:after{content: '?';}
        .text{
            @include sizeWH(50%, auto);
            min-width: 250px;
            max-width: 350px;
            margin: auto;
            .p{
                display: flex;
                flex-direction: column;
                opacity: 0;
                background-color: rgba(40, 209, 34, 1);
                backdrop-filter: blur(0px);
                padding: 30px 40px;
                transition: all .35s ease-out;
                .line{
                    font-size: 16px;
                    font-family: 'montserrat';
                    font-weight: 500;
                    color: white;
                    margin: 5px auto;
                }
            }
        }
    }
    .frame.product1{background-image: url('/assets/product1.jpg');}
    .frame.product2{background-image: url('/assets/product2.jpg');}
    .frame:hover{
        flex-grow: 5;
        background-size: auto 140%;
        .layer{
            background-color: rgba(75, 75, 75, .05);
            .name{@include sizeWH(50%, auto);}
        }
        .title{
            @include positionTRBL(absolute, 5%, unset, unset, 5%);
            font-size: 26px;
            // border-bottom: 2px solid black;
        }
        .title:after{content: '!!';}
        .text{
            .p{
                opacity: 1;
                backdrop-filter: blur(3px);
                .line{}
            }
        }
    }
}