<router-outlet></router-outlet>
<app-header></app-header>
<div class="body"></div>
<div id="Prez">
    <app-slide-one id="Main" class="part z-2 container one shadow"></app-slide-one>
    <app-slide-two id="SmartGreen" class="part z-1 container two"></app-slide-two>
    <app-slide-three id="Products" class="part z-2 container three"></app-slide-three>
    <app-slide-four id="Promises" class="part z-2 container four"></app-slide-four>
    <app-slide-five id="Newsletter" class="part z-3 container five"></app-slide-five>
    <app-slide-six id="WhoWeAre" class="part container six"></app-slide-six>
    <app-slide-seven id="About" class="part container seven"></app-slide-seven>
</div>
