
<div class="section">
  <div class="bg illustration right">
    <div class="text">
      <div class="sub-title">Sub Title</div>
      <div class="title">Title</div>
      <div class="p">
        <div class="line">Lorem ipsum dolor sit amet.</div>
        <div class="line">Lorem ipsum dolor sit amet consectetur.</div>
        <div class="line">Lorem, ipsum dolor.</div>
      </div>
    </div>
  </div>
  <div class="bg border illustration left">
    <div class="bg shadow img"></div>
  </div>
</div>