
<div class="section">
  <div class="bg illustration right">
    <div class="text">
      <div class="sub-title">PREZ</div>
      <div class="title">Smart Green</div>
      <div class="p">
        <div class="line">Offre en effet une solution innovante pour l'arrosage des jardins et des terres agricoles répondant à tous les desoins des clients.</div>
        <div class="line">La passion nécessaire pour toucher des personnes pour qui la terre est un "espace de vie" et un lieu de réjouissance, de récréation et d'amusement, source de nourriture. </div>
      </div>
    </div>
  </div>
  <div class="bg border illustration left">
    <div class="bg shadow img"></div>
  </div>
</div>