
<div class="section">
  <div class="illustration"></div>
  <div class="text">
    <div class="sub-title">Jardinier merveilleux</div>
    <div class="title">La nature</div>
    <div class="p">
      <div class="line">Elle vous accompagne subtilement pour prendre soin de votre jardin.</div>
      <div class="line">Les abeilles constituent un excellent exemple de ce processus remarquable et invisible qui aide vos plantes à se développer.</div>
      <div class="line">La ruche est une centrale où cet effort est coordonné. La nature fait un excellent travail, mais parfois, elle a besoin d’un peu d’aide.</div>
      <div class="line">C’est là que nous intervenons. Lorsque vous connectez votre système d’arrosage intelligent de Smart Green à votre Wi-Fi, vous vous connectez à la nature.</div>
    </div>
  </div>
</div>