

<div class="section">
  <div class="block">
    <div class="area bg bg0">
      <div class="text">
        <div class="sub-title">Quelles sont</div>
        <div class="title">Nos promesses?</div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="area">
      <div class="text">
        <div class="p">
          <div class="line">Irriguer indépendamment du temps et de l’espace avec son appareil intelligent.</div>
        </div>
      </div>
    </div>
    <div class="area bg bg2">
      <div class="text">
        <div class="p">
          <div class="line">Optimiser le temps de travail.</div>
        </div>
      </div>
    </div>
    <div class="area">
      <div class="text">
        <div class="p">
          <div class="line">Libérer l’exploitant afin de s’adonner à d’autres activités de la chaîne des valeurs agricoles.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="area bg bg1">
      <div class="text">
        <div class="p">
          <div class="line">Augmenter la superficie irrigable et accroître la production.</div>
        </div>
      </div>
    </div>
    <div class="area">
      <div class="text">
        <div class="p">
          <div class="line">Gérer efficacement les ressources naturelles notamment l’eau.</div>
        </div>
      </div>
    </div>
    <div class="area bg bg3">
      <div class="text">
        <div class="p">
          <div class="line">Disposer en temps réel des données climatiques d’une zone.</div>
        </div>
      </div>
    </div>
  </div>
</div>